.nav {
  background-color: var(--black-3);
  width: 100%;
  height: 7.2rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1.6rem;
  &__group {
    display: flex;
    align-items: center;
  }
  &__delete {
    margin-right: 2.4rem;
    cursor: pointer;
  }
  &__icon {
    margin: 0 3.015rem 0 2.475rem;
  }
  &__divider {
    background-color: var(--grey-1);
    width: 1px;
    height: 4rem;
    display: inline-block;
  }
}
