<main class="display">
  <section class="markdown">
    <div class="section__title markdown__header">
      <span class="in-app-heading-s">markdown</span>
    </div>
    <textarea
      class="markdown__input markdown-text"
      name="markdown__input"
      id="markdown__input"
      cols="30"
      rows="10"
    >
Hello world</textarea
    >
  </section>
  <div class="display__divider"></div>

  <section class="preview">
    <div class="section__title preview__header">
      <span class="in-app-heading-s">preview</span>
      <img
        class="preview__icon-show"
        src="/assets/icon-show-preview.svg"
        alt="show-preview-icon"
      />
    </div>
    <article class="preview__output"></article>
  </section>
</main>
