<nav class="nav">
  <div class="nav__group">
    <!-- Side Menu Button -->
    <button class="btn-sidebar">
      <img src="/assets/icon-menu.svg" alt="icon-menu" />
    </button>

    <!-- Main Logo -->
    <img class="nav__icon" src="/assets/logo.svg" alt="company logo" />
    <div class="nav__divider"></div>

    <!-- File Rename Section -->
    <div class="file-rename">
      <img
        class="file-rename__icon"
        src="/assets/icon-document.svg"
        alt="icon-document"
      />
      <form class="file-rename__form">
        <div class="file-rename__form--group">
          <label
            class="in-app-body-s file-rename__form--label"
            for="documentName"
            >Document Name</label
          >
          <input
            id="documentName"
            name="documentName"
            class="file-rename__form-input"
            type="text"
            placeholder="welcome.md"
          />
        </div>
      </form>
    </div>
  </div>
  <div class="nav__group">
    <img class="nav__delete" src="/assets/icon-delete.svg" alt="icon-delete" />
    <button class="in-app-heading-m btn-save">
      <img src="/assets/icon-save.svg" alt="icon-save" />
      Save Changes
    </button>
  </div>
</nav>
