<aside class="sidebar hidden">
  <p class="in-app-heading-s sidebar__header">MY DOCUMENTS</p>
  <button class="in-app-heading-m btn-iconless">+ New Document</button>
  <div class="sidebar__tile-list">
    <div class="sidebar__tile">
      <img
        class="sidebar__tile-icon"
        src="/assets/icon-document.svg"
        alt="icon-document"
      />
      <div class="sidebar__tile-content">
        <span class="in-app-body-s sidebar__tile-date">01 April 2022</span>
        <a href="#" class="in-app-heading-m sidebar__tile-name">welcome.md</a>
      </div>
    </div>
  </div>
</aside>
