<aside class="sidebar hidden">
  <p class="in-app-heading-s sidebar__header">MY DOCUMENTS</p>
  <button class="in-app-heading-m btn-iconless">+ New Document</button>
  <div class="sidebar__tile-list">
    <% data.forEach(doc => { %>

    <div class="sidebar__tile">
      <img
        class="sidebar__tile-icon"
        src="/assets/icon-document.svg"
        alt="icon-document"
      />
      <div class="sidebar__tile-content">
        <span class="in-app-body-s sidebar__tile-date"
          ><%- doc.createdAt %>
        </span>
        <a
          href="http://localhost:1337/documents/<%- doc.id%>"
          class="in-app-heading-m sidebar__tile-name"
          ><%- doc.name%></a
        >
      </div>
    </div>

    <% }) %>
  </div>
</aside>
