<nav class="nav">
  <button class="btn-sidebar">
    <img src="/assets/icon-menu.svg" alt="icon-menu" />
  </button>
  <img src="/assets/logo.svg" alt="company logo" />
  <div class="nav__divider"></div>

  <div class="file-rename">
    <img src="/assets/icon-document.svg" alt="icon-document" />
    <form class="file-rename__form">
      <label class="file-rename__form-label" for="documentName"
        >Document Name</label
      >
      <input
        class="file-rename__form-input"
        type="text"
        placeholder="Untitled Document.md"
      />
    </form>
  </div>

  <button class="in-app-heading-m btn-save">
    <img src="/assets/icon-save.svg" alt="icon-save" />
    Save Changes
  </button>
</nav>
